html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clearfix {
    display: inline-block;
  }
  
  html[xmlns] .clearfix {
    display: block;
  }
  
* html .clearfix {
    height: 1%;
}
  
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
header, nav, section, article, aside, footer, hgroup {
    display: block;
}
  
* {
    box-sizing: border-box;
}
  
html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
a {
    text-decoration: none !important;
}
  
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
  
ul {
    margin-bottom: 0px;
}
  
p {
    font-size: 14px;
    line-height: 25px;
    color: #000;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
  
::selection {
    background: #ed563b;
    color: #fff;
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    position: relative;
    width: 100%;
}

.main-banner .caption {
    text-align: center;
    width: 100%;
    background-color: #797876;
}

.main-banner .caption h2 {
    /*margin-top: 30px;
    margin-bottom: 25px;*/
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
  
.main-banner .caption h2 em {
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}


/*
Container
*/
.body-form{
    background-color: #797876;
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.container .form-type{
    position: sticky;
    justify-content: center;
}
/* 
---------------------------------------------
Buttons
--------------------------------------------- 
*/

.buttons{
    background-color: #797876;
    text-align: right;
    width: 75%;
}

.buttons .confirm button{
    bottom: 0px;
    top: 45px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    margin-right: 50px;
}

/* 
---------------------------------------------
Form - errors
--------------------------------------------- 
*/

.noterror {
    display: none;
}

.error {
    display: inline;
    color: DarkRed;
    font-size: 11px;
}

/* 
---------------------------------------------
Footer
--------------------------------------------- 
*/

.footer {
    position:absolute;
    text-align: center;
    bottom: 0px;
    height: 80px;
    width:100%;
    background-color: #797876;
}

.footer .button-home button{
    bottom: 45px;
    top: 45px;
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: #ed563b;
}