<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Iscrizione Squadra</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/ModificaStyle.css">
</head>
<body>
    <!-- Header Iscrizione Squadra -->
    <section>
        <div class="main-banner" id="top">
            <div class="caption" bgcolour="grey">
               <h2>Pagina di Iscrizione<em><br> Squadra</em></h2>
            </div>
        </div>
    </section>

    <section class="body-form" id="app">
        <div class="container" id="formSquadraContainer">
            <div class="form-type">
                <em>Inserire i dati della squadra e dei componenti completando tutti i campi richiesti.</em>
                <br>
                <form id="formSquadra">
                    <label for="nome" >Nome Squadra: *</label><br>
                    <input type="text" id="nome" name="nome" required v-model="squadra.nome"><br />
                    <label for="girone" >Girone: *</label><br>
                    <input type="number" id="girone" name="girone" required v-model="squadra.girone"><br />
                    <span id="TeNameError" class="noterror">Campo richiesto</span><br /><br />
                    <label for="numPlayers" >Numero Giocatori da Iscrivere: *</label><br>
                    <select id="numPlayers" v-model="numGiocatori" form="formSquadra" required><br><br>
                        <option v-for="i in numGiocatoriMax">{{i}}</option>
                    </select>
                    <br>
                    <span v-if="numGiocatori < 5">È necessario inserire almeno 5 giocatori</span><br>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-4" v-for="(giocatore, i) in squadra.giocatori">
                    <div class="card-body">
                        <div class="card-title">Giocatore n. {{ i + 1 }}</div>
                        <label for="fname" >Nome: *</label><br>
                        <input type="text" id="fname" name="name" v-model="giocatore.nome" required><br><br>
                        <label for="lname" >Cognome: *</label><br>
                        <input type="text" id="lname" name="surname" v-model="giocatore.cognome" required><br><br>
                        <label for="cf" >Codice Fiscale: *</label><br>
                        <input type="text" id="cf" name="cf" required v-model="giocatore.codiceFiscale">  Non te lo ricordi? <a href="http://www.codicefiscaleonline.com/">Clicca qui</a><br><br>
                        <label for="mail">Email: (Google) *</label><br>
                        <input type="email" id="email" name="email" pattern=".+@gmail\.com" size="30" required v-model="giocatore.email"><br>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="container p-3" id="endFormContainer">
            <button class="btn btn-primary" @click="salvaSquadra">Salva squadra</button>
        </div>
    <br>
    &nbsp;
    <br>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./script.js"></script>
    <script>
        const { createApp } = Vue
      
        createApp({
        data() {
            return {
                numGiocatori: 0,
                numGiocatoriMax: 10,
                squadra: {
                    nome: "",
                    giocatori: []
                }
            };
        },
        watch: {
            numGiocatori: function(val) {
                let giocatori = [];
                for (let i = 0; i < val; i++) {
                    giocatori.push({
                        nome: "",
                        cognome: "",
                        codiceFiscale: "",
                        email: ""
                    })
                }
                this.squadra.giocatori = giocatori
            }
        },
        methods: {
            salvaSquadra: function(arbitro) {
                let vm = this;
                $.ajax({
                    url: API_V2 + "squadra",
                    method: 'POST',
                    data: vm.squadra
                }).done(function(res) {
                    alert("Squadra salvata con successo");
                    vm.loadData();
                }).fail(function(result) {
                    let response = result.responseJSON
                    if (response && response.error) {
                        alert(response.error);
                    } else {
                        alert("Errore nell'iscrizione della squadra")
                    }
                })
            }
        },
        mounted: function() {
            this.numGiocatori = 5;
        }
        }).mount('#app')
    </script>

    <!-- Script jquery
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        const apiUrl = "http://localhost:3000/api/v1/squadra"

        $(document).ready(function() {
            $("#myform").submit(function(e) {
                e.preventDefault();
                let nome = $("#fname").val(),
                    cognome = $("#lname").val(),
                    codiceFiscale = $("#cf").val(),
                    email = $("#email").val(),

                $.ajax({
                    url: apiUrl,
                    method: 'post',
                    data: {
                        nome,
                        cognome,
                        codiceFiscale,
                        email
                    }
                })
                .done(function(res) {
                    alert("Giocatori Salvati correttamente");
                })
                .fail(function(result) {
                    let response = result.responseJSON
                    if (response.error) {
                        alert(response.error);
                    } else {
                        alert("Errore nella registrazione della squadra")
                    }
                })
            })
        })
    </script>
    -->
<!-- Footer bottone HOME -->
</body>
</html>
